.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}





.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fc4e765d-760d-45dc-9f31-58d1bd0eb872/dc4z89w-641684e2-15ca-497b-b5ca-c331e7e055b6.png/v1/fill/w_1024,h_1024/rick_and_morty_portal_1___free_download_by_loaf_of_muffin_dc4z89w-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcL2ZjNGU3NjVkLTc2MGQtNDVkYy05ZjMxLTU4ZDFiZDBlYjg3MlwvZGM0ejg5dy02NDE2ODRlMi0xNWNhLTQ5N2ItYjVjYS1jMzMxZTdlMDU1YjYucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5PeSWIoX1cFhDXi8nbPstLGpqjyYC0D9r5rBPrjKbh0) no-repeat center;
  background-size: 90% 90%;
  width: 300px;
  height: 300px;
}
.container-img:hover {
  transform: rotate(360deg); 
  transition: transform 0.5s ease; 
  animation: rotateAnimation 10s linear infinite;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}


.container-img img {
  border: 6px solid white;
  border-radius: 50%;
  width: 170px;
}

.character-card h1,
.character-card p {
  margin: 10px;
  color: white;
}

.link-style {
  color: inherit;
  text-decoration: none;
}
