.character-detail-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
  }
  
  .character-detail {
    text-align: center; 
  }
  
  .character-detail img {
    display: block;
    margin: 0 auto 20px; 
  }
  
  .character-detail h1,
  .character-detail p {
    margin: 10px 0; 
    color: white;
  }
  
  .btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00bbf9 ;
    border: 5px solid #fee440;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-link:hover {
    background-color: #0056b3; 
  }