.character-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
}
.exit-btn-img{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

.exit{
  width: 250px;
}
  
  .character-detail {
    width: 70%;
    text-align: center; 
    background-color: #00bbf9;
    border: 5px solid #eeef20;
  }
  
  .character-detail img {
    border-radius: 5px;
  }
  
  .character-detail h1,
  .character-detail p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  
  .btn-link {
    text-decoration: none;
    color: white;
    padding: 34px 0 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
