.filter-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  .input-large {
    width: 400px; /* Tamaño grande del input */
    height: 50px; /* Altura del input */
    font-size: 20px; /* Tamaño de fuente */
    text-align: center; /* Texto centrado */
  }
  